@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "lato", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  .notFoundText {
    text-align: center;
  }
}
